body{
    text-align: center;
    background-color: rgb(201, 198, 198);
}

.main-heading{
    color: rgb(4, 4, 75);
}

.start-image{
    width: 50%;
    border: 2px solid black;
    display: block;
    margin: 10px auto;
}

.repo-button {
    display: inline-block;
    padding: 15px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px auto;
    font-size: 20px;
}

/* .style-text{
    font-size: 20px;
    color: chocolate;
} */

